*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}


.one{
    background-image: url("images/WhatsApp\ Image\ 2023-04-05\ at\ 6.10.15\ PM.jpeg");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
a{
    text-shadow: 1px 2px black;
}
.fa-circle-play{
    font-size: 5rem;
    position: relative;
    top: 15rem;
    left: 1.5rem;
}
h6{
    height: 5rem;
    width: 5rem;
    background-color: rgb(229, 233, 225);
    border-radius: 50%;
}
.card-title {
    position: relative;
    top: -5rem;
    left: 3.5rem;
    font-size:1.5rem;
}
.fa-sun{
    position: relative;
    top:1.5rem;
    left: 0;
    font-size:2rem;
}
 
.fa-brain{
    font-size:4rem;
    color: rgb(49, 221, 49);
}
.color{
    background-color: rgb(126, 199, 126) ;
      height:7rem;
    background-color:rgb(235, 228, 228);
    border-radius: 50%;
    
}
.color:hover{
    background-color: rgb(126, 199, 126);
   
}
/* .circle:hover{
    background-color: rgb(126, 199, 126);
} */
.fa-brain:hover{
    color: white;
    
}
.about {
    position: relative;
    top: 12rem;
} 
.green{
    height: 5rem;
    background-color: grey;
    border-radius: 50%;
   
}
.fa-people-arrows {
    font-size:2.3rem;
}
.backimg{
    background-image: url(images/pic-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  
}
/* .carousel{
    background-color:green;
    border: none;
} */
/* .jus{
    background-color: transparent;
    background-color: transparent;
} */
.p-x{
    position: relative;
    top: 5rem;
}
.map-area iframe{
height: 70vh;
width: 80vw;
border: 0;
}



